body{
    background-image: url('BkImage.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.FrmWidth{
    background-color: black;
    border: 15px double white;
    color: cyan;
    font-weight: bold;
    width: 500px;
    font-family: Georgia;
    border-radius: 25px;
    margin-top: 3%;
}

.FrmFont{
    text-align: center;
    color: greenyellow;
    font-size: 19px;
}

.FrmButton{
    border: 4px solid wheat;
    border-radius: 15px;
    background-color: blue;
    color: white;
    font-weight: bold;
    height: 49px;
}

.FrmButton:hover{
    border: 4px solid blue;
    background-color: black;
    color: red;
}

.FrmButton:active{
    transform: scale(1.1);
}

.FrmTextBox{
    border: 4px solid red;
    border-radius: 15px;
    font-family: Arial
}

.Ans{
    background-color: blue;
    border-radius: 50px;
    border: 10px double red;
    padding: 20px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}