.PhpMargin{
    margin-right: 10px;
}

.Prg-Image{
    width: 60px;
}

.Go-Back{
    text-decoration: none;
}

.Go-Back b{
    color: blue;
    font-size: 20px;
    transition: color 1s;
}

.Go-Back b:hover{
    color: cyan;
}

.Go-Back-Margin{
    margin-bottom: 30px;
}

.Button{
    background-color: black;
    color: white;
    font-weight: bold;
    border: 2px solid red;
    border-radius: 5px;
    transition: background-color 1s, border 1s;
    height: 40px;
}

.Button:hover{
    color: white;
    background-color: blue;
    border: 2px solid cyan;
}

.Button:active{
    transform: scale(1.1);
}
