/* This Class is For Menu Bar Alignment & Background Color */
.MenuBar{
    background-color: black;
    text-align: center;
    position: sticky; 
    top: 0px;
}

.MenuBar ul{
    display: inline-flex;
    list-style: none;   
}

.MenuBar ul li{
    width: 120px;
    margin-top: 15px;
    margin-right: 20px;
    padding: 5px;
}

.MenuBar ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* This Class For Hover Effect On Menu Bar */
.Active,.MenuBar ul li:hover{
    background-color: DeepPink;
    border-radius: 20px;
}