.Table1{
    border: 13px double blue;
    width: 35%;
    height: 45%;
    background-color: Bisque;
}

.Table_Heading{
    color: red;
    font-size: 23px;
    background-color: SpringGreen;
}

form input[type='submit']
{
    color: lightgreen;
    font-size: 18px;
    background-color: black;
    border-radius: 12px;
    border: 8px double cyan;
}

form input[type='submit']:hover
{
    color: red;
    font-size: 18px;
    background-color: blue;
    border-radius: 18px;
}

form input[type='submit']:active
{
    transform:scale(1.1);
}

.For_Label{
    text-align: right;
    font-size: 20px;
    color: blue;
}

form input[type='reset']
{
    color: lightgreen;
    font-size: 18px;
    background-color: black;
    border-radius: 12px;
    text-align: center;
    border: 8px double cyan;
}

form input[type='reset']:hover
{
    color: red;
    font-size: 18px;
    background-color: blue;
    border-radius: 18px;
}

form input[type='reset']:active
{
    transform:scale(1.1);
}

.Text_Box{
    border-radius: 9px;
    color: Arial ;
    border: 3px solid red;
    font-family: Algerian; 
}

.Border{
    border-top: 3px dashed blue;
}

.Table2{
    margin-top: 30px;
    border: 5px dashed red;
    width: 290px;
    background-color: LightBlue;
}

.Heading{
    background-color: PaleGreen;
    color: blue;
    font-size: 23px;
}

.Align{
    text-align: center;
    font-family: Georgia;
    font-size: 21px;
    color: red;
}

.Ans{
    color: blue;
    font-family: Algerian;
    background-color: white;
}