.BgColor{
    background-color: bisque;
    border-radius: 30px;
    margin-top: 130px;
    border: 3px dashed blue;
    width: 55%;    
}

form input[type='submit']{
    color: white;
    font-weight: bold;
}

.TextBox{
    border: 3px solid red;
    border-radius: 15px;
}

h2{
    color: blue;
}

p{
    font-size: 21px;
    font-weight: bold;
    color: purple;
    text-align: right;
}

.Pattern{
    color: white;
    margin-top: 30px;
    margin-left: 630px;
    font-weight: bold;
}