/* CSS For Background Image Of All Webpages */
#BgImage{
    background-image: url('../../Images/Bg.png'); 
    background-size: cover;
}

/* CSS For All Forms */
.ForDiv{
    opacity: 0.9;
    margin-top: 30px;
    border-radius: 10px;
    border: 2px solid white;
}

/* CSS For Fonts For Form */
.ForFont{
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}

/* CSS For Buttons */
.Button{
    background-color: black;
    color: white;
    font-weight: bold;
    border: 2px solid red;
    border-radius: 5px;
    transition: background-color 1s, border 1s;
}

/* CSS To Show Hover Efferct On Button */
.Button:hover{
    background-color: blue;
    border: 2px solid cyan;
    color: white;
}

/* CSS To Show Active State Of Button */
.Button:active{
    transform: scale(1.1);
}

/* CSS For External Form */
.ForDiv2{
    margin-top: 50px;
}

/* CSS For All Text Boxes */
.TextBox{
    border: 2px solid cyan;
    border-radius: 20px;
    font-weight: bold;
    color: blue;
}

/* CSS To Show The Hover Effect On Text Box*/
.TextBox:hover{
    border: 2px solid blue;
}

/* CSS For ShowPage.php(Table) */
.Data{
    font-weight: bold;
}

/* CSS For Programme No.1 (Radio & Check Box) */
.Check-Radio{
    margin-left: 10px;
}

/* CSS For Programme No.8 */
.UName{
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}

/* CSS For Programme No.7 Welcome Page Profile Photo */
.Profile{
    border-radius: 100%;
    width: 80px;
}