/* This Is For Website Heading And Menu Bar Fonts */
.Font{
    font-family: sans-serif;
    font-weight: bold;
}

/* For Heading Tag */
.Header{
    background-color: Aquamarine;
    height: 150px;
    width: 100%;
}

/* It Sets Height & Width Of Website Logo */
.Left{
    width: 15%;
    height: 150px;
    float: left;
}

/* This Class is For Our Website Heading */
.Right{
    width: 85%;
    height: 150px;
    float: left;
    font-size: 60px;
    font-weight: bold;
}

/* This Sets Font Margin And Color Of Our Website Name */
div p{
    margin-top: 38px;
    color: red;
}