.Codes{
    height: 460px;
    width: 800px;
    background-color: black;    
    opacity: 0.8; 
    margin: 20px 240px;
    border-radius: 30px;
    border: 10px double blue;
}

.ProgBK{
    background-color: PaleTurquoise;
    height: 530px;
    width: 100%;
    float: left;
}

.ForOl{
    color: cyan;
}

.ForOl li a{
    color: white;
    text-decoration: none;
}

.ForOl li{
    margin: 20px 30px ;
}

.ForOl li a:hover{
    color: cyan;
    font-weight: bold;
    border: 2px solid blue;
    border-radius: 10px;
}