/* Default Margin And Padding For Main Page */
*{
    margin: 0px;
}

/* Main Container Of Website */
.Container{
    width: 100%;
}

/* lates Codes */
.Text{
    position: absolute;
    background-color: black;
    top: 330px;
    left: 700px;
    width: 530px;
    height: 230px;
    color: aqua;
}

.Latest{
    border-top: 3px dashed blue;
}

.Latest li{
    margin-top: 10px;
    color: white;
}

.Latest li a{
    text-decoration: none;
    color: white;
}


.Text h2{
    margin-left: 195px;
    margin-top: 30px;
}