.AboHeight{
    height: 500px;
    background-color: LightSalmon;
}

.ProInfo{
    margin-top: 100px;
    margin-left: 70px;
}

.AboMe{
    margin-top: 100px;
    margin-left: 70px;
}

.ForMe{
    background-color: Cornsilk;
    width: 400px;
    height: 260px;
    border-radius: 30px;
}

.AboColor{
    color: purple;
    text-align: center;
    border-bottom: 8px solid LightSalmon;
}

.ForProInfo{
    color: blue;
    font-weight: bold;
    font-size: 20px;
    margin-top: 15px;
}

.AboMeCon{
    color: blue;
    font-weight: bold;
    font-size: 16px;
    margin-top: 19px;
    font-family: Georgia;
}