img{
    width: 160px;
    margin-top: 23px;
}

marquee{
    margin-top: 50px;
    font-weight: bolder;
    font-size: 20px;
    color: blue;
    text-shadow: 2px 2px 8px black;
}

.BgColor{
    background-color: LightSkyBlue;
}

h2{
    font-weight: bold;
    color: white;
    margin-top: 18px;
    text-shadow: 2px 2px 8px black;
}